body {
    background-color:seashell;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkslategray;
    padding: 5px;
    display: inline;   
}

p {
    color: black;
    margin: 10px;
}

table{
    background-color:white;
    border-collapse: collapse;
}

th, td {
    border: 2px solid gray;
    padding: 5px;
}

tr:nth-child(even) {
    background-color:lightgray;
}

td:hover {
    background-color:lightcyan;
}

caption {
    text-align: center;
    font-weight: bold;
    background-color:white;
    border-collapse: collapse;
    border: 2px solid gray;
    padding: 5px;
}